---
title: Base Styles
template: default.hbs
---

<h1 class="primary-headline">Base Styles</h1>

<div class="doc-section">
  <h2 class="secondary-headline doc-headline">Content Styles</h2>

  <h3 class="tertiary-headline">Headlines</h3>

  <div class="highlight highlight--flush">
    <table class="table table--demo">
      <tbody>
        <tr>
          <td><h1 class="primary-headline">Primary Headline</h1></td>
        </tr>
        <tr>
          <td><h2 class="secondary-headline">Secondary Headline</h2></td>
        </tr>
        <tr>
          <td><h3 class="tertiary-headline">Tertiary Headline</h3></td>
        </tr>
      </tbody>
    </table>
  </div>

{{#code-block 'markup'}}<h1 class="primary-headline">...</h1>
<h2 class="secondary-headline">...</h2>
<h3 class="tertiary-headline">...</h3>
{{/code-block}}
</div>

<div class="doc-section">
  <h2 class="secondary-headline doc-headline">Utilities</h2>

  <h3 class="tertiary-headline">Text Utilities</h3>

  <div class="highlight highlight--flush">
    <table class="table table--demo">
      <tbody>
        <tr>
          <td class="txt-left">Left aligned text</td>
        </tr>
        <tr>
          <td class="txt-center">Center aligned text</td>
        </tr>
        <tr>
          <td class="txt-right">Right aligned text</td>
        </tr>
        <tr>
          <td class="txt-justify"><strong>Justified text</strong> - Adipisicing maiores illum tempore quaerat perferendis, suscipit vel! Expedita quos nemo nihil similique laudantium doloribus. Vitae at inventore in eaque provident rem eum. Vero sapiente facere libero totam omnis totam.</td>
        </tr>
      </tbody>
    </table>
  </div>

{{#code-block 'markup'}}<div class="txt-left">...</div>
<div class="txt-center">...</div>
<div class="txt-right">...</div>
<div class="txt-justify">...</div>
{{/code-block}}
</div>

<div class="doc-section">
  <h3 class="tertiary-headline">Surgical Classes</h3>
</div>
