---
title: Base Styles
template: default.hbs
---

<h2 class="primary-headline">Base Styles</h2>

<h3 class="tertiary-headline">Headlines</h3>

<div class="highlight">
  <table class="table table--demo">
    <tbody>
      <tr>
        <td><h1 class="primary-headline">Primary Headline</h1></td>
      </tr>
      <tr>
        <td><h2 class="secondary-headline">Secondary Headline</h2></td>
      </tr>
      <tr>
        <td><h3 class="tertiary-headline">Tertiary Headline</h3></td>
      </tr>
    </tbody>
  </table>
</div>

{{#code-block 'markup'}}
<h1 class="primary-headline">&hellip</h1>
<h2 class="secondary-headline">&hellip</h2>
<h3 class="tertiary-headline">&hellip</h3>
{{/code-block}}
