@import "styles";

.main {
  margin-bottom: ($default-whitespace * 2);
}

.highlight {
  margin-bottom: $default-whitespace;
  padding: 1em;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;

  &--flush {
    margin-bottom: 0;
    border-radius: 6px 6px 0 0;
  }

  & + pre[class*="language-"] {
    margin-top: 0;
    margin-bottom: $default-whitespace;
    border: 1px solid #ccc;
    border-top: 0;
    border-radius: 0 0 6px 6px;
  }
}

pre {
  border-radius: 6px;
}

.table--demo {
  margin-bottom: 0;

  tr {
    border-bottom: 1px solid #ccc;

    &:last-child {
      border-bottom: 0;
    }
  }

  td {
    padding: em(10);
  }
}

.table--demo {
  [class*="headline"] {
    margin: 0;
    padding: 0;
    text-align: left;
    border-bottom: 0;
  }
}

// Documentation nav

.nav-doc {
  margin: 0;
  padding: 0;

  > li {
    list-style: none;

    a {
      display: block;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      background-color: #eee;
      border-bottom: 1px solid #fff;

      &:hover,
      &:focus,
      &.active {
        background-color: darken(#eee, 10%);
      }
    }

    &:first-child {
      a {
        border-radius: 6px 6px 0 0;
      }
    }

    &:last-child {
      a {
        border-radius: 0 0 6px 6px;
      }
    }
  }
}
