---
title: Test Docs
template: default.hbs
---

<h1 class="secondary-headline">Overview</h1>
<p><strong>Baseline</strong> is a jumping-off point for authoring styles on SCSS-based projects.</p>

<div class="doc-section">
  <h2 class="secondary-headline doc-headline">CSS</h2>

{{#code-block 'css'}}.base {
  @include clearfix;
}
{{/code-block}}
</div>
