---
title: Module Styles
template: default.hbs
---

<h2 class="primary-headline">Module Styles</h2>

<h3 class="tertiary-headline">Buttons</h3>

<div class="highlight highlight--flush">
  <span class="button mbl">Standard Button</span>
  <span class="button button--full">Full Width Button</span>
</div>

{{#code-block 'markup'}}<span class="button">Standard Button</span>
<span class="button button--full">Full Width Button</span>
{{/code-block}}

<div class="highlight highlight--flush">
  <span class="button">Standard Button</span>
  <span class="button-pseudo">Pseudo Button</span>
</div>

{{#code-block 'markup'}}<span class="button">Standard Button</span>
<span class="button-pseudo">Pseudo Button</span>
{{/code-block}}
