---
title: State Styles
template: default.hbs
---

<h1 class="primary-headline">State Styles</h1>

<div class="doc-section">
  <h2 class="secondary-headline doc-headline">Display States</h2>
  <div class="highlight">
    <table class="table table--demo">
      <tbody>
        <tr>
          <td><code class="code">.is-hidden</code></td>
          <td>Hide from browsers and screen readers.</td>
        </tr>
        <tr>
          <td><code class="code">.is-hidden-visually</code></td>
          <td>Hide from browsers, but let screen readers access the content.</td>
        </tr>
        <tr>
          <td><code class="code">.is-invisible</code></td>
          <td>Hide from browsers, but don't remove from document flow.</td>
        </tr>
        <tr>
          <td><code class="code">.is-visible</code></td>
          <td>Use to toggle the <code>.is-invisible</code> state above.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
