// GRID
// --------------------------------------------

// Setup the variables with Bourbon's Flex Grid

$fg-column: 60px;
$fg-gutter: 20px;
$fg-max-columns: 12;

// Construct the grid

.row {
  @include clearfix;
}

%col-base {
  float: left;
  margin-left: flex-gutter();

  &:first-child {
    margin-left: 0;
  }

  &.col-centered {
    float: none;
    margin: 0 auto;

    &:first-child {
      margin-left: auto;
    }
  }

  @media screen and (max-width: em(700)) {
    float: none;
    margin-left: 0;
  }
}

@for $i from 1 through $fg-max-columns {
  .col-#{$i} {
    @extend %col-base;
    width: flex-grid($i);

    @media screen and (max-width: em(700)) {
      width: 100%;
    }
  }
}

@function push($amount, $firstChild) {
  $ng: 2;
  @if $firstChild { $ng: 1 }
  @return flex-grid($amount) + ($ng * flex-gutter());
}

@for $i from 1 through $fg-max-columns {
  .push-#{$i} {
    margin-left: push($i, false);

    &:first-child {
      margin-left: push($i, true);

      @media screen and (max-width: em(700)) {
        margin-left: 0;
      }
    }

    @media screen and (max-width: em(700)) {
      margin-left: 0;
    }
  }
}
