// ==========================================================================
// Grid
// Taken from TentCSS
// https://css.sitetent.com/objects.html#grid
// ==========================================================================

.grid {
  @extend .flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;

  &--gutterless {
    & > .grid__column {
      padding: 0;
    }
  }
}

// Grid Modifiers
// Extends .flex
// ==========================================================================

.grid--stack           { @extend .flex--stack;           }
.grid--top             { @extend .flex--top;             }
.grid--bottom          { @extend .flex--bottom;          }
.grid--center          { @extend .flex--center;          }
.grid--stretch         { @extend .flex--stretch;         }
.grid--baseline        { @extend .flex--baseline;        }

.grid--justify-center  { @extend .flex--justify-center;  }
.grid--justify-start   { @extend .flex--justify-start;   }
.grid--justify-end     { @extend .flex--justify-end;     }
.grid--justify-between { @extend .flex--justify-between; }


// Grid Columns
// ==========================================================================


.grid__column {
  @extend .flex__item;
  margin-left: 0;
  max-width: 100%;
  padding-left: $fg-gutter;
  padding-right: $fg-gutter;
  width: 100%;

  // .column-* vertically aligns an individual .column
  &--top { @extend .flex__item--top; }
  &--bottom { @extend .flex__item--bottom; }
  &--center { @extend .flex__item--center; }

  // Explicit Column Percent Sizes
  @for $i from 1 through $fg-max-columns {
    $factor: 100% * ($i / $fg-max-columns);

    &--#{$i} {
      flex: 0 0 #{$factor};
      max-width: #{$factor};
    }
  }

  @each $point in $grid-breakpoints {
    @include breakpoint-min($point) {
      @for $i from 1 through $fg-max-columns {
        $factor: 100% * ($i / $fg-max-columns);

        &--#{$i}--#{$point} {
          flex: 0 0 #{$factor};
          max-width: #{$factor};
        }
      }
    }
  }
}

// Breakpoint changes for default selectors
// ==========================================================================

@include breakpoint-min(sm) {
  .grid { width: 100%; }
  .grid__column { padding: 0 $fg-gutter; }
}
