// GRID
// --------------------------------------------

// Setup the variables with Bourbon's Flex Grid

$fg-column: 60px;
$fg-gutter: 20px;
$fg-max-columns: 12;

// Construct the grid

.row {
  @include clearfix;
}

%col-base {
  @include respond-to(em(700)) {
    float: left;
    margin-left: flex-gutter();

    &:first-child {
      margin-left: 0;
    }

    &.col-centered {
      float: none;
      margin: 0 auto;

      &:first-child {
        margin-left: auto;
      }
    }
  }
}

@for $i from 1 through $fg-max-columns {
  .col-#{$i} {
    @include respond-to(em(700)) {
      @extend %col-base;
      width: flex-grid($i);
    }
  }
}

@function push($amount, $firstChild) {
  $ng: 2;
  @if $firstChild { $ng: 1 }
  @return flex-grid($amount) + ($ng * flex-gutter());
}

@for $i from 1 through $fg-max-columns {
  .push-#{$i} {
    @include respond-to(em(700)) {
      margin-left: push($i, false);
    }

    &:first-child {
      @include respond-to(em(700)) {
        margin-left: push($i, true);
      }
    }
  }
}
