// BUTTON STYLES
// -------------

.button {
  @include user-select(none);
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 8px 12px;
  cursor: pointer;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-appearance: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:disabled,
  &.is-disabled {
    cursor: default;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

// Button modifiers

.button--full {
  display: block;
  width: 100%;
}

// Pseudo button
// -------------
// Use the same padding as a default button,
// for use in situations where a cancel link
// sits next to a button.

.button-pseudo {
  padding: 8px 0;

  .button + & {
    margin-left: $default-whitespace;
  }
}
