// FORM STYLES
// -----------

// Vertical form

.form-vertical {
  label {
    display: block;
    margin-bottom: ($condensed-whitespace / 2);
  }

  #{$all-text-inputs},
  textarea,
  select {
    margin-bottom: $default-whitespace;
  }
}

.field {
  margin-bottom: $default-whitespace;
}
