// MEDIA OBJECT
// -------------------------
// Ported from @stubbornella

.media,
.media__body {
  overflow: hidden;
}

.media__obj {
  float: left;
  margin-right: $condensed-whitespace;
  display: block;
}

.media__obj--rev {
  float: right;
  margin-left: $condensed-whitespace;
  display: block;
}

.media__heading {
  margin-top: 0 0 5px 0;
}
