// BUTTON STYLES
// -------------

.button {
  appearance: none;
  background: $button-default;
  border: 1px solid $default-border-color;
  border-radius: 3px;
  color: $button-text-color;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  margin: 0;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: darken($button-default, 10%);
    color: $button-text-color;
    text-decoration: none;
  }

  &:disabled,
  &.is-disabled {
    cursor: default;
  }

  // Button modifiers

  &--full {
    display: block;
    width: 100%;
  }
}

// Pseudo button
// -------------
// Use the same padding as a default button,
// for use in situations where a cancel link
// sits next to a button.

.button-pseudo {
  background: transparent;
  border: 0;
  display: inline-block;
  line-height: normal;
  padding: 8px 0;
  vertical-align: middle;

  .button + & {
    margin-left: $default-whitespace;
  }
}
