// RESPONSIVE EMBEDS
// ---------------------

.embed {
  height: 0;
  overflow: hidden;
  padding: 0;
  position: relative;

  &__item,
  iframe,
  object,
  embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// To add more aspect ratios use the embed
// mixin with width and height variables

.embed--16by9 {
  @include embed(16, 9);
}

.embed--4by3 {
  @include embed(4, 3);
}
