// FORM STYLES
// -----------

// Horizontal form

.form-horizontal {
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  textarea,
  select {
    margin-right: $condensed-whitespace;
  }
}

// Vertical form

.form-vertical {
  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  textarea,
  select {
    display: block;
    margin-bottom: $default-whitespace;
  }
}

.form-field {
  margin-bottom: $default-whitespace;
}

// Checkbox and radio buttons

.input-checkbox,
.input-radio {
  padding-left: $default-whitespace;

  input[type="checkbox"],
  input[type="radio"]  {
    float: left;
    margin: 5px 0 0 (-$default-whitespace);
  }
}
