// LIST STYLES
// -------------

.list-plain {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

.list-horizontal {
  margin-top: 0;
  padding-left: 0;

  > li {
    display: inline-block;
    margin-right: $default-whitespace;

    &:last-child {
      margin-right: 0;
    }
  }
}
