// MEDIA OBJECT
// --------------------------
// Ported from Phillip Walton

.media {
  @include display(flex);
  @include align-items(flex-start);

  &__obj {
    margin-right: $condensed-whitespace;

    &--rev {
      @include order(1);
      margin-right: 0;
      margin-left: $condensed-whitespace;
    }
  }

  &__body {
    @include flex(1);
    margin-bottom: 0;
  }

  &__heading {
    margin: 0 0 5px;
  }

  &--center {
    @include align-items(center);
  }

  // No flexbox version presents a float-based layout
  // for less capable browsers (pre IE10)
  // ------------------------------------------------
  // Ported from @stubbornella

  .no-flexbox & {
    overflow: hidden;

    &__body {
      overflow: hidden;
    }

    &__obj {
      float: left;
      margin-right: $condensed-whitespace;
      display: block;

      &--rev {
        float: right;
        margin-right: 0;
        margin-left: $condensed-whitespace;
      }
    }

    &__heading {
      margin: 0 0 5px 0;
    }
  }
}
