// MEDIA OBJECT
// --------------------------
// Ported from Phillip Walton

.media {
  align-items: flex-start;
  display: flex;

  &__obj {
    margin-right: $condensed-whitespace;

    &--rev {
      margin-left: $condensed-whitespace;
      margin-right: 0;
      order: 1;
    }
  }

  &__body {
    flex: 1;
    margin-bottom: 0;
  }

  &__heading {
    margin: 0 0 5px;
  }

  &--center {
    align-items: center;
  }

  // No flexbox version presents a float-based layout
  // for less capable browsers (pre IE10)
  // ------------------------------------------------
  // Ported from @stubbornella

  .no-flexbox & {
    overflow: hidden;

    &__body {
      overflow: hidden;
    }

    &__obj {
      display: block;
      float: left;
      margin-right: $condensed-whitespace;

      &--rev {
        float: right;
        margin-left: $condensed-whitespace;
        margin-right: 0;
      }
    }

    &__heading {
      margin: 0 0 5px;
    }
  }
}
