// NOTIFICATION STYLES
// -------------------

.notification {
  border: 1px solid;
  border-radius: 4px;
  margin-bottom: $default-whitespace;
  padding: $default-whitespace;

  &__title {
    font-size: em(20px);
    margin: 0 0 $condensed-whitespace;
  }

  &--alert {
    @include notification-colors($notification-alert);
  }

  &--warning {
    @include notification-colors($notification-warning);
  }

  &--success {
    @include notification-colors($notification-success);
  }

  &--notice {
    @include notification-colors($notification-notice);
  }
}
