// TILE STYLES
// ---------------

.tile {
  &-container {
    display: flex;
    flex-wrap: wrap;

    // Change this property to fit the needs of the design
    // For example, use 'space-around' to evenly distrubute
    // the tiles in the container.
    justify-content: flex-start;

    margin-left: -$condensed-whitespace;
  }

  &__item {
    display: flex;
    flex-direction: column; // Fixes a display issue in IE10
    margin-bottom: $condensed-whitespace;

    @include respond-to(em(500px)) {
      padding-left: $condensed-whitespace;
      width: 50%;
    }
  }

  &-container--three {
    .tile__item {
      @include respond-to(em(700px)) {
        width: 33.33%;
      }
    }
  }

  &-container--four {
    .tile__item {
      @include respond-to(em(700px)) {
        width: 33.33%;
      }

      @include respond-to(em(900px)) {
        width: 25%;
      }
    }
  }

  // No flexbox version presents a float-based layout
  // for less capable browsers (pre IE10)

  .no-flexbox & {
    &-container {
      @include clearfix;
    }

    &__item {
      float: left;
      margin-bottom: $condensed-whitespace;

      @include respond-to(em(500px)) {
        margin-left: 2%;
        width: 49%;

        &:nth-child(2n+1) {
          clear: left;
          margin-left: 0;
        }
      }
    }

    &-container--three {
      .tile__item {
        @include respond-to(em(700px)) {
          margin-left: 2%;
          width: 32%;

          &:nth-child(2n+1) {
            clear: none;
            margin-left: 2%;
          }

          &:nth-child(3n+1) {
            clear: left;
            margin-left: 0;
          }
        }
      }
    }

    &-container--four {
      .tile__item {
        @include respond-to(em(700px)) {
          margin-left: 2%;
          width: 32%;

          &:nth-child(2n+1) {
            clear: none;
            margin-left: 2%;
          }

          &:nth-child(3n+1) {
            clear: left;
            margin-left: 0;
          }
        }

        @include respond-to(em(900px)) {
          margin-left: 2%;
          width: 23.5%;

          &:nth-child(3n+1) {
            clear: none;
            margin-left: 2%;
          }

          &:nth-child(4n+1) {
            clear: left;
            margin-left: 0;
          }
        }
      }
    }
  }
}
