<header role="banner">
  <div class="l-container">
    <div class="row">
      <div class="col-6">
        <a class="logo__mark" href="index.html">D-I Baseline</a>
      </div>
    </div>
  </div>
</header>
