<nav role="navigation">
  <ul class="nav nav-doc">
    <li><a href="base.html">Base</a></li>
    <li><a href="layout.html">Layout</a></li>
    <li><a href="modules.html">Modules</a></li>
    <li><a href="state.html">State</a></li>
    <li><a href="code.html">Code</a></li>
  </ul>
</nav>
