<nav role="navigation">
  <div class="l-container">
    <ul class="list-horizontal">
      <li>
        <a href="base.html">Base</a>
        <a href="layout.html">Layout</a>
        <a href="modules.html">Modules</a>
        <a href="state.html">State</a>
      </li>
    </ul>
  </div>
</nav>
