// BASE STYLES
// -----------------------------
// For styling elements directly

* {
 box-sizing: border-box;
}

html {
  font-size: $default-font-size;
}

body {
  font-family: $sans-serif-font;
  font-size: 100%;
  line-height: $default-leading;
  color: $default-text-color;
}

a {
  color: $link-color;

  &:hover,
  &:focus {
    color: darken($link-color, 10%);
  }
}

// Base form styles

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  border: 1px solid $default-border-color;
  padding: 6px;
  border-radius: 3px;
}

// Base table styles

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

// Responsive media

img,
object,
embed {
  max-width: 100%;
}
