// CONTENT STYLES
// --------------

// Headline styles
// ----------------------------------------
// Start of with two levels, let the design
// dictate the remaining headings (inspired
// by Andy Hume's SXSW talk)


%headline {
  margin-top: 0;
  font-family: $headline-font;
  line-height: 1.2;
}

.primary-headline {
  @extend %headline;
}

.secondary-headline {
  @extend %headline;
}
