// HELPERS
// ----------------------------------------
// Extends, functions, mixins, surgical
// classes, and animation keyframes go here

// Elipsis and break text

%txt-truncate,
.txt-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

%txt-break,
.txt-break {
  word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
}

// Media query mixin

@mixin respond-to($breakpoint, $query: min-width, $media: screen) {
  @media #{$media} and ($query: $breakpoint) {
    @content;
  }
}

// Notifications

@mixin notification-colors($notification-color: $default-text-color) {
  color: $notification-color;
  background-color: mix(#fff, $notification-color, 85%);
  border-color: shade($notification-color, 20%);
}

// Responsive embeds

@mixin embed($width, $height) {
  padding-bottom: ($height / $width) * 100%;
}

// Clearfix

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

// Em Calculator

@function em($pixel, $base: 16px){
  @return ($pixel / $base) * 1em;
}

// Flexgrid function
// ----------------------------------
// Borrowed from Thoughtbot's Bourbon
// TODO: This should be re-written to our needs.

@function flex-grid($columns, $container-columns: $fg-max-columns) {
  $width: $columns * $fg-column + ($columns - 1) * $fg-gutter;
  $container-width: $container-columns * $fg-column + ($container-columns - 1) * $fg-gutter;
  @return percentage($width / $container-width);
}

// Flexible gutter
@function flex-gutter($container-columns: $fg-max-columns, $gutter: $fg-gutter) {
  $container-width: $container-columns * $fg-column + ($container-columns - 1) * $fg-gutter;
  @return percentage($gutter / $container-width);
}
