// COLORS
// ------------------

// Brand colors
// ------------------
// Drop in the colors that make
// up the brand in this section

// Default colors

$default-text-color: #333;
$default-border-color: #ccc;

// Link colors

$link-color: #3476af;
$link-disabled: #dedede;

// Button colors

$button-text-color: #333;
$button-default: #fff;

// Notification colors

$notification-alert: #a94442;
$notification-warning: #b29115;
$notification-success: #3c763d;
$notification-notice: #31708f;

// CONTENT DEFAULTS
// ------------------

$default-font-size: 16px;
$default-leading: 1.6;
$default-whitespace: 1.6 * $default-font-size;
$condensed-whitespace: .5 * $default-whitespace;

// FONTS
// ------------------

$headline-font: $helvetica; // TODO: Default to Helvetica for now, to be changed later
$sans-serif-font: $helvetica;
$serif-font: $georgia;
$code-font: $monospace;

// LAYOUT
// ------------------

$l-max-width: em(960);
