extends _layout

block prepend header
  - var currentSection = 'home';

block content
  h1.primary-docs-headline Overview
  p #[strong Baseline] is a jumping-off point for authoring styles on SCSS-based projects.
  p Some of the modules in Baseline take advantage of flexbox, so if you require backward compatability, be sure to include a build of Modernizr that checks for flexbox browser support like #[a(href="https://github.com/the-refinery/baseline-modernizr") baseline-modernizr].
  p 
    strong
      a(href="https://github.com/the-refinery/baseline") Version 2.1.0
