extends _layout

block prepend header
  - var currentSection = 'home';

block content
  h1.primary-docs-headline Overview
  p #[strong Baseline] is a jumping-off point for authoring styles on SCSS-based projects.
  p 
    strong
      a(href="https://github.com/the-refinery/baseline") Version 2.0.0
