// GRID
// --------------------------------------------

// Setup the variables with Bourbon's Flex Grid

$fg-column: 91px;
$fg-gutter: 28px;
$fg-max-columns: 12;

@mixin column($num) {
  .col-#{$num} {
    float: left;
    margin-left: flex-gutter();
    width: flex-grid($num);

    &:first-child {
      margin-left: 0;
    }

    &.col-centered {
      float: none;
      margin: 0 auto;

      &:first-child {
        margin-left: auto;
      }
    }

    @media screen and (max-width: em(700)) {
      float: none;
      margin-left: 0;
      width: 100%;
    }
  }
}

.row {
  width: 100%;
  @include clearfix;
}

@for $i from 1 to $fg-max-columns + 1 {
  @include column($i);
}
