@import "styles";
@import "encoded-images";

$default-bg-color: #f5f2f0;

a {
  color: #218aa3;

  &:hover,
  &:focus {
    color: darken(#218aa3, 10%);
  }
}

blockquote {
  margin-left: 0;
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}

.l-doc-nav {
  float: right;
  width: (220 / 960) * 100%;

  @media only screen and (max-width: em(700)) {
    float: none;
    width: 100%;
  }
}

.l-doc-content {
  float: left;
  width: (700 / 960) * 100%;

  @media only screen and (max-width: em(700)) {
    float: none;
    width: 100%;
  }
}

.code {
  padding: 2px 5px;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  color: #905;
  background-color: $default-bg-color;
  border: 1px solid $default-border-color;
  border-radius: 2px;
}

.main {
  margin-bottom: ($default-whitespace * 2);
}

.primary-headline {
  line-height: 1;
}

.doc-section {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid $default-border-color;

  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.doc-headline {
  @include hidpi(2) {
    background-image: $encoded-bookmarks-retina;
    background-size: 12px 20px;
  }
  margin-top: 40px;
  margin-left: -25px;
  padding-left: 25px;
  background-image: $encoded-bookmarks;
  background-position: 0 5px;
  background-repeat: no-repeat;

  @media only screen and (max-width: em(820)) {
    margin-left: 0;
  }
}

.logo {
  margin: 40px 0;
  
  &__mark {
    @include hide-text;
    @include hidpi(2) {
      background-image: $encoded-logo-retina;
      background-size: 406px 99px;
    }
    display: block;
    height: 99px;
    width: 406px;
    background-image: $encoded-logo;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.highlight {
  margin-bottom: $default-whitespace;
  padding: 1em;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;

  &--flush {
    margin-bottom: 0;
    border-radius: 6px 6px 0 0;
  }

  & + pre[class*="language-"] {
    margin-top: 0;
    border-top: 0;
    border-radius: 0 0 6px 6px;
  }
}

pre[class*="language-"] {
  position: relative;
  margin-bottom: $default-whitespace !important;
  border: 1px solid $default-border-color;
  border-radius: 6px;

  &:after {
    content: "code";
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: $sans-serif-font;
    font-size: rem(12);
    color: #999;
    background: #fff;
    border: 1px solid $default-border-color;
    border-top: 0;
    border-right: 0;
    border-radius: 0 0 0 6px;
  }
}

@each $code-type in css, scss, markup, javascript {
  pre[class*="#{$code-type}"] {
    &:after {
      content: "#{$code-type}";
    }
  }
} 

.table--demo {
  margin-bottom: 0;

  tr {
    border-bottom: 1px solid #ccc;

    &:last-child {
      border-bottom: 0;
    }
  }

  td {
    padding: em(10);
  }
}

.table--demo {
  [class*="headline"] {
    margin: 0;
    padding: 0;
    text-align: left;
    border-bottom: 0;
  }
}

// Documentation nav

.nav-doc {
  @include clearfix;
  margin: 0 0 $default-whitespace;
  padding: 0;

  > li {
    list-style: none;

    a {
      display: block;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      background-color: $default-bg-color;
      border-bottom: 1px solid #fff;

      &:hover,
      &:focus,
      &.active {
        background-color: darken($default-bg-color, 10%);
      }
    }

    &:first-child {
      a {
        border-radius: 6px 6px 0 0;
      }
    }

    &:last-child {
      a {
        border-radius: 0 0 6px 6px;
      }
    }
  }

  @media only screen and (min-width: em(500)) and (max-width: em(700)) {
    > li {
      float: left;
      width: (100% / 5);

      a {
        border-left: 1px solid #fff;
        border-bottom: 0;
      }

      &:first-child {
        a {
          border-left: 0;
          border-radius: 6px 0 0 6px;
        }
      }

      &:last-child {
        a {
          border-radius: 0 6px 6px 0;
        }
      }
    }
  }
}

// Grid example

.grid-demo {
  text-align: center;

  .row {
    margin-bottom: $default-whitespace;
  }

  [class*="col"] {
    padding: 8px 0;
    background-color: $default-bg-color;
    outline: 1px solid $default-border-color;
  }
}
