<!DOCTYPE html>
<html lang="en">
  {{>doc-head}}
  <body>
    {{>header}}

    <main class="main" role="main">
      <div class="l-container">
        <div class="row">
          <div class="col-2">
            {{>navigation}}
          </div>
          <div class="col-10">
            {{{html}}}
          </div>
        </div>
      </div>
    </main>

    {{>footer}}
  </body>
</html>
