<!DOCTYPE html>
<html lang="en">
  {{>doc-head}}
  <body>
    {{>header}}
    {{>navigation}}

    <main class="main" role="main">
      <div class="l-container">
      {{{html}}}
      </div>
    </main>

    {{>footer}}
  </body>
</html>
