// Header

header(role="banner")
  .l-container
    .row
      .col-6
        a(class="logo__mark" href="http://the-refinery.io") The Refinery
        a(class="logo__type" href="index.html") Baseline
