// STATES
// --------------------------------------
// Borrowed from Nicolas Gallagher's SUIT

// Hide from browsers and screen readers

.is-hidden {
  // sass-lint:disable no-important
  display: none !important;
  visibility: hidden !important;
}

// Hide from browsers, but let screenreaders access

.is-hidden-visually {
  // sass-lint:disable no-important
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

// Hide from browsers but don't remove from flow

.is-invisible {
  visibility: hidden;
}

.is-visible {
  visibility: visible;
}
